/* Small and large text */
.small { font-size: 85% }
.tiny { font-size: 65% }
.large { font-size: 115% }

/* Three column layout */
.pull-left-3 {
  float: left;
  width: 30%;
  padding: 0 2.5% 0 0;
}

.pull-middle-3 {
  float: left;
  width: 30%;
  padding: 0 2.5%;
}

.pull-right-3 {
  float: right;
  width: 30%;
  padding: 0 0 0 2.5%;
}

.pull-right-3 ~ * {
  clear: both;
}

/* Four column layout */
.pull-left-4 {
  float: left;
  width: 24%;
  padding: 0 0% 0 0;
}

.pull-midleft-4 {
  float: left;
  width: 24%;
  padding: 0 1%;
}

.pull-midright-4 {
  float: left;
  width: 24%;
  padding: 0 1%;
}

.pull-right-4 {
  float: right;
  width: 24%;
  padding: 0 0 0 0%;
}

.pull-right-3 ~ * {
  clear: both;
}

/* 2/3 left; 1/3 right */
.more-left {
  float: left;
  width: 60%;
}
.less-right {
  float: right;
  width: 35%;
}
.more-right ~ * {
  clear: both;
}

/* Side-by-side code/plot stuff https://www.garrickadenbuie.com/blog/decouple-code-and-output-in-xaringan-slides/ */
.left-code {
  color: #777;
  width: 48%;
  height: 92%;
  float: left;
}

.right-plot {
  width: 50%;
  float: right;
  padding-left: 1%;
}

.left-code .remark-code,
.left-code .remark-inline-code {
  font-size: 0.6em;
}

.small-code .remark-code,
.small-code .remark-inline-code {
  font-size: 0.6em;
}

