# IDEs
.idea/

# hugo
/resources/
public/
jsconfig.json
node_modules/

# personal
.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata

# survey data
survey-responses/

# teaching notes
notes-for-next-year*

# solutions
*-solutions/

# temp files
draft-*
