# IDEs
.idea/

# hugo
/resources/
public/
jsconfig.json
node_modules/

# site customization
layouts/_default/
layouts/partials/docs_sidebar.html
layouts/partials/docs_toc_foot.html
layouts/partials/menu.html

# personal
.DS_Store
.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata

# survey data
*survey*.csv
*enrollment*.csv
survey-responses-midsemester/

# teaching notes
notes-for-next-year/

# solutions
*project*solution*
*lab*solution*
*prelim*solution*

# temp files
draft-*
*-draft
