<div class="row">
    <div class="col-md-4">
        <h3>Instructor</h3>

        <ul class="icon-list" style="list-style: none; padding-left: 0;">
            <li><i class="fas fa-user"></i> <a href="{{ .Site.Params.instructor.url }}" target="_blank" rel="noopener"> {{ .Site.Params.instructor.name }}</a></li>
            <li><i class="fas fa-university"></i> {{ .Site.Params.instructor.office }}</li>
            <li><i class="fas fa-envelope"></i> <a href="mailto:{{ .Site.Params.instructor.email }}"> {{ .Site.Params.instructor.email }}</a></li>
            <!-- <li><i class="fab fa-twitter"></i> <a href="https://twitter.com/{{ .Site.Params.instructor.twitter }}" target="_blank" rel="noopener"> @{{ .Site.Params.instructor.twitter }}</a></li> -->
        </ul>
    </div>

    <div class="col-md-4">
        <h3>Course details</h3>

        <ul class="icon-list" style="list-style: none; padding-left: 0;">
            <li><i class="far fa-calendar"></i> {{ .Site.Params.course.days }}</li>
            <li><i class="far fa-calendar-alt"></i> {{ .Site.Params.course.dates }}</li>
            <li>
                <strong>Section 1:</strong>
                <ul class="icon-list" style="list-style: none; padding-left: 0;">
                    <li><i class="far fa-clock"></i> {{ .Site.Params.course.time1 }}</li>
                    {{ if isset .Site.Params.course "location1" }}<li><i class="fas fa-university"></i> {{ .Site.Params.course.location1 }}</li>{{end}}
                </ul>
            </li>
            <li>
                <strong>Section 2:</strong>
                <ul class="icon-list" style="list-style: none; padding-left: 0;">
                    <li><i class="far fa-clock"></i> {{ .Site.Params.course.time2 }}</li>
                    {{ if isset .Site.Params.course "location2" }}<li><i class="fas fa-university"></i> {{ .Site.Params.course.location2 }}</li>{{end}}
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-md-4 contact-policy">
        <h3>Contacting me</h3>

        <p>{{ .Site.Params.instructor.contact_policy | markdownify}}</p>
    </div>
</div>
